extends ../base
include ../mixins/video

block content
  .profile__data
    img.avatar(src=loggedInUser.avatarUrl)
    h3= user.name
  .video-grid
    each video in user.videos
      +video(video)
    else
      span.empty__message No videos found
